[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
chromadb = "*"
pysqlite3-binary = "*"
langchain = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
